/* Created on 18-mrt-2015 10:44:19 */
/* css */


body{
  background-color: black;
  }
  
  
  
/* alle classes */
.opsomming{
   color: white;
}

.moederbord{
   text-align: center;
   color: red;
   <i />
}
   

